button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

html, body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
